body h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: beige;
    text-align: center;
    text-shadow: 4px 3px 1px black
}
td {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
}
#title {
	margin: auto;
	text-align: center;
	font-size: medium;
	line-height: normal;
}
#content-wrapper {
    background-image: url("../media/background.jpg");
    ;

}
#planets,
#planets th,
#planets td {
	border: 2px solid;
	width: 100%;
	text-align: center;
}
#planets th {
	text-decoration-thickness: 3px;
	background-color: rgb(180, 190, 242);
}
#planets tr:nth-child(odd) {
	background-color: rgb(180, 190, 242);
}
#planets tr:nth-child(even) {
    background-color: rgb(231, 209, 247);
}

.img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 100px;
	transition: transform 0.5s ease;
	border-radius: 60%;
}
.img:hover {
	transform: scale(1.5) rotate(360deg);
}
